.toast {
  display: flex;
  justify-content: space-between;
  background-color: white;
  min-width: 240px;
  padding: 16px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba($black, 0.15);
  position: absolute;
  bottom: 60px;
  right: -500px;
  z-index: 5;
  transition: 0.4s ease-in;
  align-items: center;

  .toast-text {
    font-weight: 400;
    font-size: 0.875rem;
    margin: 10px;
  }

  .toast-img {
    max-width: 14px;
    max-height: 14px;
  }

  &.active {
    right: 60px;

    @media (max-width: $tablet) {
      right: 16px;
    }
  }

  @media (max-width: $tablet) {
    bottom: 16px;
  }
}
