.add-button {
  background-color: $vine;
  padding: 10px 38px 10px 14px;

  &::after,
  &::before {
    content: '';
    width: 10px;
    height: 1.5px;
    background-color: white;
    position: absolute;
    right: 12px;
    top: calc(50% - 0.75px);
  }

  &::after {
    transform: rotate(90deg);
  }

  &:hover {
    background-color: $vine-hover;
  }

  @media (max-width: $mobile) {
    position: absolute;
    height: 50px;
    top: 94px;
    left: 0;
    right: 0;
    margin: 0 15px;

    &::after,
    &::before {
      width: 10px;
      height: 1.5px;
      right: calc(50% - 114px / 2 - 8px);
      top: calc(50% - 0.75px);
    }
  }
}
