@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  src: url('./../assets/fonts/Circe-Regular.woff2');
}

@font-face {
  font-family: 'Circe-Bold';
  font-style: normal;
  font-weight: 800;
  src: url('./../assets/fonts/Circe-Bold.woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Circe';
}

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  font-family: 'Circe-Bold';
  font-size: 1rem;
}

#app {
  background-color: #f6f7f9;
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  position: relative;
}

ul,
ol {
  list-style: none;
}
