.contacts {
  margin: 56px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;

  .contact-li {
    width: 100%;
    background-color: #fff;
    position: relative;
    font-size: 1.125rem;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::before {
      content: '';
      height: 1px;
      width: 96%;
      position: absolute;
      top: 0;
      background-color: $border-color;
      left: 2.5%;
    }

    .contact-li__name {
      color: $text-color;
      text-transform: capitalize;
    }

    .contact-li__controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: fit-content;
    }

    .contact-button {
      width: 38px;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      border: 1px solid $border-color;
      cursor: pointer;

      & > .delete-svg {
        fill: $black;
        opacity: 0.3;
        pointer-events: none;
      }

      &:hover .delete-svg {
        fill: white;
        opacity: 1;
      }

      & > .edit-svg {
        fill: $black;
        opacity: 0.3;
        pointer-events: none;
      }

      &.edit {
        margin-left: 40px;
        transition: 0.15s;

        &:hover {
          background-color: $blue;

          .edit-svg {
            fill: white;
            opacity: 1;
          }
        }
      }

      &.delete {
        transition: 0.15s;
        margin-left: 8px;
      }

      &.delete:hover {
        margin-left: 8px;
        border: 1px solid $red;
        background-color: $red;
      }
    }
  }

  .empty-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    color: $text-color-opacity;
  }
}

.accordeon {
  display: flex;
  flex-direction: column;

  .accordeon-item {
    margin-top: 24px;
    width: 60.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 4px 20px rgba($color: $black, $alpha: 0.05);
    margin-bottom: 5px;
    overflow: hidden;

    .accordeon-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0;
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s;
      background-color: white;
    }

    &.active {
      .accordeon-content {
        max-height: 1000px;
      }
    }

    &.active {
      .accordeon-header {
        background-color: $text-color-opacity;
      }
    }

    &:first-child {
      margin-top: 0;
    }

    .accordeon-item:last-child {
      border-radius: 0 0 6px 6px;
    }
  }

  .accordeon-header {
    width: 100%;
    height: 70px;
    padding: 0 24px;
    font-size: 1.125rem;
    border: 0;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
    transition: 0.3s;
    text-align: left;

    &:hover {
      background-color: #fbfbfb;
    }

    .accordeon-h {
      color: $blue;
      pointer-events: none;
    }
  }
}
